* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top left, #3c006d, #1a001f, #0a0014);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Centraliza tudo verticalmente */
main {
  display: flex;
  justify-content: center;     /* Centraliza horizontalmente */
  align-items: center;         /* Centraliza verticalmente */
  flex: 1;                     /* ocupa o espaço restante da tela */
  padding: 40px 20px;
}

.pag {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.imagens {
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.imagens img {
  width: 400px;
  border-radius: 10px;
  height: auto;
}

.texto {
  margin-top: 0;
  padding-top: 0;
  color: #eee;
}

.texto h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
}

.texto p {
  font-size: 1.2em;
  line-height: 1.6;
}

.h1{
font-size: 2.5em;
  color: #fff;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #aaa;
  background: rgba(10, 0, 20, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: auto;
}